<%= render "layouts/navbar2" %>

<div class="container">
  <div class="row profile">
    <h3 class="name"><%=current_user.name%></h3>

  <div class="col-md-4 profile-picture">
  </div>
  <div class="col-md-4 profile-details">
    <p><span class="details">Email:</span><%=current_user.email%></p>
    <p><span class="details">Phone:</span><%=current_user.phone%></p>
    <p><span class="details">Card:</span>************5054</p>

    <h2> Your Bikes </h2>
      <% if current_user.bicycles %>
      <% current_user.bicycles.each do |bicycle| %>
    <ul>
        <li>Make: <%= bicycle.make %></li>
        <li>Model: <%= bicycle.model %></li>
        <li>Year: <%= bicycle.year %></li>
        <li>Description: <%= bicycle.description %>
        <br>
        <br>
        <%= link_to "Edit", edit_bicycle_path(bicycle), class: "md-button" %> |
        <%= link_to "Delete", bicycle_path(bicycle), class: "md-button", :data => {:confirm => "You sure?",
          :method => "delete"} %> </li>
    </ul>
    <% end %>
    <% else %>
    <%= "You have no bicycles associated with you account yet" %>
    <% end %>
  </div>
    <div class="col-md-4 buttons">
      <%= link_to "Add Bicycle", new_bicycle_path, :class => "md-button" %>
      <%= link_to "Create a Repair Ticket", new_ticket_path, :class => "md-button" %>
    </div>
  </div>
</div>
