<div class="second-navigation">
  <%= link_to "Profile", customer_path(current_user) %>
  <%= link_to "Create Ticket", new_ticket_path %>
  <%= link_to "My Repair Ticket"%>
  <%= link_to "Sign Out", destroy_user_session_path, :method => "DELETE" %>
</div>


<%= render 'layouts/errors', object: @bicycle %>

<div class="container">
  <div class="row login">
    <div class="col-sm-12">
      <h1>Add a Bicycle to your profile</h1>
        <%= form_for @bicycle do |f| %>
        <%= f.label :description %>
        <%= f.text_field :description, class: "form-control" %>
        <%= f.label :make %>
        <%= f.text_field :make, class: "form-control"  %>
        <%= f.label :model %>
        <%= f.text_field :model, class: "form-control"  %>
        <%= f.label :year %>
        <%= f.text_field :year, class: "form-control"  %>
        <%= f.hidden_field :customer_id, value: current_user.id %>
        <%= f.submit "Create", class: "form-control" %>
        <% end %>
    </div>
  </div>
</div>
