<div class="second-navigation">
  <%= link_to "Home", root_path %>
  <%= link_to "Profile", customer_path(current_user) %>
  <%= link_to "My Repair Ticket", ticket_path(current_user)%>
  <%= link_to "My Repair Tickets", tickets_path(current_user)%>
  <%= link_to "Sign Out", destroy_user_session_path, :method => "DELETE" %>
</div>

<%= render 'layouts/errors', object: @ticket %>


<div class="container">
  <div class="row login">
    <div class="col-sm-12">
      <h1>New Ticket</h1>
        <h1> Create a Repair Ticket! </h1>
        <%= form_for @ticket do |f| %>
        <%= f.label :location %>
        <%= f.text_field :location, :class => "form-control" %>
        <%= f.label :location_notes %>
        <%= f.text_area :location_notes, :class => "form-control" %>
        <%= f.label :problem %>
        <%= f.collection_select(:problem_id, Problem.all, :id, :description, :class => "form-control") %>
        <%= f.label :bicycle_id %>
        <%= f.collection_select(:bicycle_id, current_user.bicycles, :id, :model, :class => "form-control") %>
        <%= f.submit "Create" %>
        <% end %>
    </div>
  </div>
</div>
