<%= render "layouts/navbar2" %>

<%= render 'layouts/errors', object: @ticket %>

<div class="bikeimage">
</div>

<h1 class="current-ticket">Current Ticket</h1>

<div class="container">
  <div class="row">
    <div ng-repeat="item in tickets | limitTo: 1 " class="col-md-6 ticket-details">

        <p><span class="details">Address:</span> <%= @ticket.location %> <p>
        <p><span class="details">Location Notes:</span> <%= @ticket.location_notes %> <p>
        <p><span class="details">Problem:</span> <%= @ticket.problem_id %> <p>
        <p><span class="details">Bike:</span> <%= @ticket.bicycle_id %> <p>
        <p><span class="details">Status:</span> <%= @ticket.repair_status %> <p>
        <p><span class="details">Mechanic Name:</span> <%= @ticket.mechanic_id %> <p>
        <p><span class="details">Time:</span> <%= Time.now %><p>
        <p><span class="details">User Rating:</span> 5<p>

    </div>
  </div>
</div>

<% else %>

  <p> You don't have any tickets </p>

<% end %>
