<!DOCTYPE html>
  <html>
<html>
<head>
  <title>Bike Repair</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Megrim|Gruppo|Raleway|Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav>
    <div class="container-fluid">
      <div class="title"><%= link_to "BrÜber", root_path %></li></div>
      <li><%= link_to "About Us", about_index_path  %></li>
      <li><%= link_to "Contact Us", contact_index_path %></li>
      <li><%= link_to "Home", contact_index_path %></li>
      </div>
  </nav>

  <header>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  </header>
 <%= yield %>



</body>
</html>
