<!DOCTYPE html>
  <html ng-app="dalesBikeMania">
<html>
<head>
  <title>Bike Repair</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One|Megrim|Gruppo|Raleway|Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>

  <nav>
    <div class="title"><a ui-sref="home">Br&uuml;ber</a></div>
    <li><%= link_to "About Us", contact_index_path  %></li>
    <li><%= link_to "Contact Us", contact_index_path %></li>
    <li><%= link_to "Home", root_path %></li>
    <% if current_user %>
    <li><%= link_to "Sign Out", destroy_user_session_path %></a></li>
    <li><%= link_to "My Profile" %></a></li>
    <li><%= link_to "Current Ticket" %></a></li>
    <li><%= link_to "New Ticket" %></a></li>
    <% end %>

  </nav>

  <header>
  </header>
 <%= yield %> 


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
